[mysqld]

user = root

datadir = /var/lib/mysql/

port = 3306

#log-bin = /var/lib/mysql-bin

# bind-adress set what IPs will be able to connect --> 0.0.0.0 allow any ipv4 IP
bind-address = 0.0.0.0

skip-networking = false
